.mcm-column-border {
    border: black;
    border-style: solid;
    border-width: 0px;
    border-radius: 15px;
	
	
}

.mcm-column-shadow {
    /*box-shadow: 0px 0px 50px 50px rgba(0, 0, 0,0.3) inset;*/
	background: rgba(0, 0, 0,0.2);
}


.mcm-region-shadow {
    box-shadow: 0 0.2rem 0.5rem transparent;
}