
/*.HyperMD-header-2::before, .markdown-rendered h2::before{
    content: "⚜️";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;
}*/

/* Prepend/Append text to h1 headers */
.markdown-rendered h1::after, .HyperMD-header-1::after, h1::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 0px;
  margin-right: 25px;
}

/* Prepend text to h2 headers */
.markdown-rendered h2::after, .HyperMD-header-2::after, h2::after {
  content: "⚜️";
}

/* Prepend text to h3 headers */
.markdown-rendered h3::before, .HyperMD-header-3::before, h3::before {
  content: "";
}

/* Prepend text to h4 headers */
.markdown-rendered h4::before, .HyperMD-header-4::before, h4::before {
  content: "";
}

/* Prepend text to h5 headers */
.markdown-rendered h5::before, .HyperMD-header-5::before, h5::before {
  content: "";
}

/* Prepend text to h6 headers */
.markdown-rendered h6::before, .HyperMD-header-6::before, h6::before {
  content: "";
}

/* Divider Borders */

.header {
  border: 0px solid;
  border-image: linear-gradient(90deg, transparent, rgba(155, 132, 71,0.90),transparent) 1;
  border-width: 1px;
  border-left:linear-gradient(90deg, transparent, rgba(155, 132, 71,0.90),transparent) 1;
  border-top:none; 
  border-right:linear-gradient(90deg, transparent, rgba(155, 132, 71,0.90),transparent) 1;
  padding-bottom: 1px;
  border-radius: var(--radius-m);
  text-shadow: 0px 0px 0px rgba(155, 132, 71,0.95);
  text-align: center;
  color: #ffffff;
  /*background-image: linear-gradient(to right, rgb(16, 23, 34), rgb(16, 23, 34), rgb(16, 23, 34));*/
}

.anp-h1-divider .markdown-rendered h1,
.anp-h1-divider .HyperMD-header-1 {
  background-color: rgba(0, 0, 0,0.20);
  border: 0px solid;
  border-image: linear-gradient(90deg, transparent, rgba(155, 132, 71,0.90),transparent) 1;
  border-width: 1px;
  border-left:linear-gradient(90deg, transparent, rgba(155, 132, 71,0.90),transparent) 1;
  border-top:none; 
  border-right:linear-gradient(90deg, transparent, rgba(155, 132, 71,0.90),transparent) 1;
  padding-bottom: 1px;
  border-radius: var(--radius-m);
  text-shadow: 0px 0px 0px rgba(155, 132, 71,0.95);
  text-align: center;
  color: #ffffff;
  /*background-image: linear-gradient(to right, rgb(16, 23, 34), rgb(16, 23, 34), rgb(16, 23, 34));*/
}

.header-h2, .anp-h2-divider .markdown-rendered h2,
.anp-h2-divider .HyperMD-header-2 {
  /*border-bottom: var(--hr-thickness) solid var(--background-modifier-border);*/
  border: 1px solid;
  border-image: linear-gradient(90deg, rgba(155, 132, 71,0.90), transparent) 1; 
  border-left:none; 
  border-top:none; 
  border-right:none;
  padding-bottom: 1px;
  text-shadow: 0px 0px 0px rgba(155, 132, 71,0.95);
  color: #ffffff;
}

.anp-h3-divider .markdown-rendered h3,
.anp-h3-divider .HyperMD-header-3 {
  /*border-bottom: var(--hr-thickness) solid var(--background-modifier-border);*/
  border: 1px solid;
  border-image: repeating-linear-gradient(90deg, rgba(162, 150, 110,0.40), rgba(162, 150, 110,0.30), rgba(162, 150, 110,0.10), transparent) 1; 
  border-left:none; 
  border-top:none; 
  border-right:none;
  padding-bottom: 1px;
  text-shadow: 0px 0px 0px rgba(155, 132, 71,0.95);
  color: #ffffff;
}

.anp-h4-divider .markdown-rendered h4,
.anp-h4-divider .HyperMD-header-4 {
  /*border-bottom: var(--hr-thickness) solid var(--background-modifier-border);*/
  border: 0px solid;
  border-image: linear-gradient(90deg, rgba(155, 132, 71,0.90), transparent) 1; 
  border-left:none; 
  border-top:none; 
  border-right:none;
  padding-bottom: 1px;
  text-shadow: 0px 0px 0px rgba(155, 132, 71,0.95);
  color: #ffffff;
}

.anp-h5-divider .markdown-rendered h5,
.anp-h5-divider .HyperMD-header-5 {
  /*border-bottom: var(--hr-thickness) solid var(--background-modifier-border);*/
  border: 0px solid;
  border-image: linear-gradient(90deg, rgba(155, 132, 71,0.90), transparent) 1; 
  border-left:none; 
  border-top:none; 
  border-right:none;
  padding-bottom: 1px;
  text-shadow: 0px 0px 0px rgba(155, 132, 71,0.95);
  color: #ffffff;
}

.anp-h6-divider .markdown-rendered h6,
.anp-h6-divider .HyperMD-header-6 {
  /*border-bottom: var(--hr-thickness) solid var(--background-modifier-border);*/
  border: 0px solid;
  border-image: linear-gradient(90deg, rgba(155, 132, 71,0.90), transparent) 1; 
  border-left:none; 
  border-top:none; 
  border-right:none;
  padding-bottom: 1px;
  text-shadow: 0px 0px 0px rgba(155, 132, 71,0.95);
  color: #ffffff;
}