a {
    color: #0000ff;
    text-decoration: none;
}

a::after {
    content: '🔗';
}

.local-link::after {
    content: url('../../media/examples/firefox-logo.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
