/* Hide collapse indicator folders */
.nav-folder-collapse-indicator {
     display: none !important;
}

/* Set margins for navigation folders */
.nav-folder {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-right: 0px;
}